*.pyc

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/roach_destroyer_client_react/node_modules
/roach_destroyer_client_react/src/serviceWorker.js
/roach_destroyer_client_react/src/logo.svg
/roach_destroyer_client_react/public/favicon.ico
/roach_destroyer_client_react/public/manifest.json
/roach_destroyer_client_react/src/App.test.js
/roach_destroyer_client_react/src/index.css

