.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#controlsAndVideoPane{
  border: 3px solid #7fdbca;
  border-radius: 5%;
  margin-left: 2%;
  margin-right: 2%;
  color: #82AAFF;
  display: flex;

}
#controlsPane {
  text-align: center;
  width: 400px;
  border: 3px solid #7fdbca;
  border-radius: 5%;
}

#arrowsPane {
  margin-top: 3%;
}

#connectionPane {
  text-align: center;
}

body {
  background: #000C1D;
}

#mainPage {
  background: #000C1D;
  color: #82AAFF;
}

.blueButtons {
  background: #3500D3;
}

#footer {
  height: 50%;
}

#header {
  text-align: center;
  margin-bottom: 5%;
  padding-top: 5%;
}

#streamContainer {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  position: relative;
}

#streamBox {
  border: 3px solid #7fdbca;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5%
}

#historyControlsPanel {
  border: 3px solid #7fdbca;
  border-radius: 5%;
  margin: 2%;
  width:25%;
  text-align: center;
  /* height: 130px; */
}

#buttonsPane {
  padding:10px;
}

.nightowlButtons {
  background: #7fdbca
}

.nightowlErrorButton {
  background: #ff5874
}

.nightowlPurpleButton {
  background:#c792ea
}

.nightowlGreenButton {
  background:#addb67
}

.nightowlOrangeButton {
  background:#F78C6C
}

.nightowlBlueButton {
  background: #82AAFF;
}


#historyControlsContainer {
  display: flex;
  justify-content: center;
}

/* #commandsPaneContainer {
  display: flex;
  justify-content: center;
} */

#commandsPane {
  border-radius: 5%;
  text-align: center;
  margin-bottom: 3%;
  color:#c792ea;
}

#commandSetContainer {
  border: 3px solid #7fdbca;
  overflow: auto;
  white-space: nowrap;
  border-radius: 5%;
  height: 230px;
}

.commandSet {
  display: inline-block;
  margin: 10px;
  border: 3px solid #7fdbca;
  height:200px;
  width: 200px;
  text-align: center;
  border-radius: 5%;
}

#specificSet {
  text-align: center;
  height: 230px;
  overflow: auto;
  color:#c792ea;
}

#commandSetLabelDiv {
  text-align: center;
  width: 50%;
  margin: 2%;
}

#historyContainer {
  display: flex;
}

#specificSetContainer {
  text-align: center;
  margin: 2%;
  flex-grow: 1;
}


.spacedBtn {
  margin: 10px;
}

.notConnectedText {
  color:#ff5874
}

.connectedText {
  color: #addb67
}

#sonarDisplayBox {
  text-align: center;
  position: relative;
}

#stopStreamButton {
  position: absolute;
  top:10px;
  right:10px
}

#sonarControlButton {
  position: absolute;
  top:10px;
  width:50px;
  height:50px;
  border-radius: 50%
  
}

.btn2:focus {
  outline: none;
}